/.vscode
/#src
/node_modules
/source
.gitignore
gulpfile.js
package-lock.json
packege.json
SerhiiIkinPortfolio/dk/index.html
SerhiiIkinPortfolio/index.html
SerhiiIkinPortfolio/js/script.js
SerhiiIkinPortfolio/css/style.css