$blue: #00c4f0;
$blue-text: #00c1ec;
$text-grey: #e4e4e4;
$orange: linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
$onlyorange: #e2a200;
$gray_bg: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
$black_bg: linear-gradient(101.56deg, #2c2c2c 1.56%, #1c1c1c 95.55%);
$themeColor: #007aff !default;
$orangetext: #e2a100;
$blackbue: linear-gradient( rgb(11, 46, 136), rgb(1, 9, 19));