.logo {
    display: flex;
    align-items: center;
    text-align: center;
    svg {
        margin-right: 10px;
        stroke: $blue;
    }
    @media (max-width: 767px) {
        display: none;
    }
    @media (min-width: 992px) {
        &:hover svg {
            stroke: white;
        }
        &:hover &__text {
            color: $blue-text;
        }
    }
}