.portfolio {
    @include adaptiv-value ("padding-bottom", 100, 25, 0);
    @include adaptiv-value ("padding-top", 100, 25, 0);
    @include adaptiv-value ("padding-left", 40, 25, 0);
    @include adaptiv-value ("padding-right", 40, 25, 0);
    h2 {
        @include adaptiv-value ("padding-bottom", 50, 20, 0);
        text-align: center;
    }
    &__slide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 20px 0;
        @include adaptiv-value ("padding-left", 30, 10, 0);
        @include adaptiv-value ("padding-right", 30, 10, 0);
        background: $gray_bg;
        box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
        border-radius: 29px;
        min-height: 420px;
    }
    &__img {
        flex: 0 0 60%
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    &__block {
        flex: 0 0 40%;
        padding-left: 10px;
        color: white;
    }
    &__title {
        padding-bottom: 25px;
    }
    &__text {
        padding-bottom: 25px;
    }
    &__link {
        display: inline-flex;
        position: relative;
        padding-right: 25px;
        &::before {
            content: "";
            position: absolute;
            background: url("../img/icons.svg#arrow-orange") 0 0 no-repeat;
            width: 19px;
            height: 25px;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
        @media (min-width: 992px) {
            &:hover::before {
                transition: right .7s;
                right: -10px;
            }
        }
    }
    &__button-prev {
        left: 0;
    }
    &__button-prev,
    &__button-next {
        width: 45px;
        height: 45px;
        background: $orange;
        border-radius: 50%;
        &::after {
            content: "";
            position: absolute;
            top: 26%;
            left: 30%;
            background: url("../img/icons.svg#arrow") 0 0 no-repeat;
            width: 24px;
            height: 21px;
        }
        &::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        @media (min-width: 992px) {
            &:hover {
                background: $blue;
            }
            &:hover::before {
                box-shadow: 0 0 20px $onlyorange;
            }
        }
    }
    &__button-next {
        right: 0;
        &::after {
            left: 16%;
            transform: rotateY(180deg);
        }
    }
    @media (max-width: 992px) {
        &__button-prev {
            left: 10px;
        }
        &__button-next {
            right: 10px;
        }
        &__button-prev,
        &__button-next {
            &:focus,
            &:hover,
            &:active {
                outline: none;
                border: 0;
            }
            width: 30px;
            height: 30px;
            &::after {
                width: 18px;
                height: 16px;
            }
        }
        &__button-next {
            &::after {
                left: 10%;
                transform: rotateY(180deg);
            }
        }
        &__slide {
            width: 100%;
            flex-direction: column-reverse;
            text-align: left;
        }
        &__block {
            width: 100%;
            padding-left: 0;
        }
        &__title {
            padding-bottom: 5px;
        }
        &__text {
            padding-bottom: 5px;
        }
        a {
            align-self: flex-start;
        }
    }
}