.project {
    padding: 20px 0;
    color: $text-grey;
    &__title {
        padding-left: 20px;
        padding-bottom: 20px;
        color: $text-grey;
    }
    img {
        padding-bottom: 20px;
        width: 100%;
    }
    h3 {
        padding-bottom: 10px;
    }
    &__text {
        padding: 0 20px 20px;
    }
    &__link {
        color: $orangetext;
        position: relative;
        margin-left: 20px;
        display: inline-block;
        padding: 5px 5px 5px 35px;
        background: url("../img/icons.svg#github") 5px center no-repeat;
        background-size: 24px;
        @media (min-width: 992px) {
            &:hover {
                background-color: $blue;
                border-radius: 6px;
                box-shadow: 0 0 20px #e2a200;
                color: white;
            }
        }
    }
}